<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Samuk Lab</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="Samuk Lab @ UCR">
  <meta name="description" content="The Samuk Lab at UC Riverside">
  <meta name="keywords" content="samuk lab, kieran samuk, genetics, evolution, genomics, academic, graduate school, research, riverside, UCR" />
  <meta name="author" content="Kieran Samuk" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.samuklab.com/">
  <meta property="og:title" content="Samuk Lab @ UCR">
  <meta property="og:description" content="The Samuk Lab at UC Riverside">
  <meta property="og:image" content="images/study_orgs_simple.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.samuklab.com/">
  <meta property="twitter:title" content="Samuk Lab @ UCR">
  <meta property="twitter:description" content="The Samuk Lab at UC Riverside">
  <meta property="twitter:image" content="images/study_orgs_simple.png">
  <meta name="twitter:card" content="summary_large_image">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="icons/favicon.ico">
  <link rel="icon" type="image/png" href="icons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- Google Webfont -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400|Crimson+Text' rel='stylesheet' type='text/css'>
  <!-- Themify Icons -->
  <link rel="stylesheet" href="css/themify-icons.css">
  <!-- Academic icons: -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/ec5ff0c369.js" crossorigin="anonymous"></script>

  <!-- Bootstrap 5 CSS: -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-rfs/bootstrap-rfs.css">



  <!-- Owl Carousel -->
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <!-- Magnific Popup -->
  <link rel="stylesheet" href="css/magnific-popup.css">
  <!-- Superfish -->
  <link rel="stylesheet" href="css/superfish.css">
  <!-- Easy Responsive Tabs -->
  <link rel="stylesheet" href="css/easy-responsive-tabs.css">
  <!--Animation -->
  <link rel="stylesheet" href="css/animate.css">

  <!-- Theme Style -->
  <link rel="stylesheet" href="css/style.css">

  <!--scroll reveal-->
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>


  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
	<script src="js/modernizr-2.6.2.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body class="inner-page">

  <!-- START #fh5co-header -->
  <header id="fh5co-header-section" role="header" class="">
    <div class="container ">

      <!-- START #fh5co-logo -->
      <h1 id="fh5co-logo" class="float-start"><a href="index.html" class="navbar-logo">samuk lab</a></h1>

      <!-- START #fh5co-menu-wrap -->
      <nav id="fh5co-menu-wrap" role="navigation">
        <ul class="sf-menu" id="fh5co-primary-menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="people.html">People</a></li>
          <li><a href="research.html">Research</a></li>
          <li class="active"><a href="publications.html">Publications</a></li>
          <li><a href="join.html">Join</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li>
            <a href="#" class="fh5co-sub-ddown">More</a>
            <ul class="fh5co-sub-menu">
              <li><a href="opportunities.html">Opportunities</a></li>
              <li><a href="software.html">Software</a></li>
              <li><a href="data.html">Data</a></li>
              <li><a href="teaching.html">Teaching</a></li>
              <li><a href="internal.html">Internal</a></li>
            </ul>
          </li>
        </ul>
      </nav>

    </div>
  </header>

  <!-- START #fh5co-hero -->
  <aside id="fh5co-hero" style="background-image: url(images/hero_publications.jpg);">
    <div class="container ">
      <div class="col">
        <div class="col-md-8 offset-md-2">
          <div class="fh5co-hero-wrap">
            <div class="fh5co-hero-intro">
              <!--<h2>staff & students<span></span></h2>-->
              <h1>Publications</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>

  <div id="fh5co-main">
    <!-- YEAR SELECTOR -->
    <section id="fh5co-feature">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="fh5co-uppercase-heading-sm">publication year</h2>

            <button class="btn btn-primary filter-button btn-sm" data-filter="all">All</button>
            <button type="button" class="btn btn-primary filter-button btn-sm" data-filter="2013">2013</button>
            <button type="button" class="btn btn-primary filter-button btn-sm" data-filter="2014">2014</button>
            <button type="button" class="btn btn-primary filter-button btn-sm" data-filter="2016">2016</button>
            <button type="button" class="btn btn-primary filter-button btn-sm" data-filter="2017">2017</button>
            <button type="button" class="btn btn-primary filter-button btn-sm" data-filter="2018">2018</button>
            <button type="button" class="btn btn-primary filter-button btn-sm" data-filter="2020">2020</button>
            <button type="button" class="btn btn-primary filter-button btn-sm" data-filter="2021">2021</button>
            </p>
          </div>
        </div>
      </div>
      <br>

      <!-- PUBLICATION CONTAINER -->
      <div class="container-fluid">
        <div class="row">